### Задание 1

In [64]:
import pandas as pd

In [65]:
df = pd.read_csv('/Users/admin/Desktop/Учеба/Docs/horse_data.csv', usecols=[0,1,3,4,5,6,10,22], na_values = "?")
df.columns =['surgery?','Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']

In [66]:
df.head(20)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
5,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
7,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
8,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
9,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
10,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
11,1.0,1,37.2,42.0,12.0,2.0,3.0,1.0
12,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
13,1.0,1,38.2,76.0,28.0,3.0,3.0,1.0
14,1.0,1,37.6,96.0,48.0,3.0,5.0,2.0
15,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
16,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
17,1.0,1,37.6,64.0,21.0,1.0,2.0,1.0
18,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0

### Задание 2 Первичное изучение данных

In [67]:
df.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [68]:
df.isnull().sum()

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [69]:
df['surgery?'].value_counts()

1.0    180
2.0    118
Name: surgery?, dtype: int64

In [70]:
df[df['surgery?'].isnull()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
131,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

Из первичного анализа столбца "surgery?" можно сделать выводы:
 - данные верно заполнены
 - отсутствует 1 значение, подставлять значение не представляется возможным
 - есть 2 варианта, либо лошадь только начали обследовать, либо забыли заполнить данные

In [71]:
df['Age'].value_counts()

1    275
9     24
Name: Age, dtype: int64

Из первичного анализа столбца "Age" можно сделать выводы:
 - в столбце Age много ошибочных данных, значение 9. Т.к. в базе присутствуют только 2 занчения 1 и 9 и варианта выбора, то же 2 (1 и 2)
  - кол-во значений 9 (молодых лошадей) сильно меньше 1 (взрослых), что логично, т.к. взрослые болеют чаще)
 Исходя из этого можно предпологать что это системная ошибка и значения 9 необходимо поменять на 2.

Из первичного анализа столбца "rectal temperature" можно сделать выводы:
- данные корректные, выбросов нет
- стандартное отклонение не большое
- согласно описания данные зна

In [72]:
q1 = df['pulse'].quantile(0.25)
q3 = df['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[~df['pulse'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

/var/folders/s4/xv06r9r15b18nmydcpdrl0300000gn/T/ipykernel_23808/917139829.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers = df[~df['pulse'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
27,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
51,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
54,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
55,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
57,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
77,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
82,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
92,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
114,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
116,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
125,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
135,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
150,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
158,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
159,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
173,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
174,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
181,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
203,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
206,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
215,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
274,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
287,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

Из значений выбросов по показателю Пульс, мы видим что они присущи молодым лошадям, что показывет есть статистически значимая зависимость между пульсом и возростом животного

In [73]:
df[df['respiratory rate']>50]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
10,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
22,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
38,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
81,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
83,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
98,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
102,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
105,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
119,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
124,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
184,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
185,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
207,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
219,1.0,1,39.2,88.0,58.0,4.0,5.0,3.0
228,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
243,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
247,1.0,1,38.0,108.0,60.0,2.0,4.0,1.0
249,1.0,1,39.3,100.0,51.0,4.0,2.0,3.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
264,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
268,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
294,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

Из первичного анализа столбца "respiratory rate" можно сделать выводы:
- есть большие отклоноеноя в большую сторону, но это нельзя интерпритировать как ошибочные данные, данные коррелируются со столбцом 'pulse' что может свидетельствовать а верности данных

In [74]:
df[df['temperature of extremities'] == 1].count()

surgery?                      78
Age                           78
rectal temperature            72
pulse                         76
respiratory rate              66
temperature of extremities    78
pain                          73
outcome                       78
dtype: int64

In [85]:
df[df['rectal temperature'] > 38].count()

surgery?                      133
Age                           133
rectal temperature            133
pulse                         129
respiratory rate              114
temperature of extremities    121
pain                          133
outcome                       133
dtype: int64

Из первичного анализа столбца "temperature of extremities" можно сделать выводы:
 - из описания следует что повышенная температеры конечностей (значение 1) должно коррелироваться с повышенной температурой. Нормальной является +37,5…+38,5°C, изучив данные 2х столбцов корреляция слабая

Из первичного анализа столбцов "pain" и "outcome" не выявлено выбросов

### Задание 3

In [86]:
df.isnull().sum()

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    47
pain                           0
outcome                        1
dtype: int64

In [87]:
df.isna().mean()

surgery?                      0.003344
Age                           0.000000
rectal temperature            0.200669
pulse                         0.080268
respiratory rate              0.193980
temperature of extremities    0.157191
pain                          0.000000
outcome                       0.003344
dtype: float64

In [88]:
df['pain'] = df['pain'].fillna(df['pain'].round().mode()[0])
df.head(20)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,4.0,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,3.0,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
5,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,3.0,2.0
7,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
8,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
9,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
10,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
11,1.0,1,37.2,42.0,12.0,2.0,3.0,1.0
12,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
13,1.0,1,38.2,76.0,28.0,3.0,3.0,1.0
14,1.0,1,37.6,96.0,48.0,3.0,5.0,2.0
15,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
16,2.0,1,37.5,48.0,24.0,NaN,3.0,1.0
17,1.0,1,37.6,64.0,21.0,1.0,2.0,1.0
18,2.0,1,39.4,110.0,35.0,4.0,3.0,1.0
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0

Дополняем данные в столбец 'temperature of extremities', исходя из описания, данный показатель зависит от 'rectal temperature', при повышенной температуре, повышантся температура конечностей (значение 4)

In [90]:
df.loc[df['rectal temperature']>38, ['temperature of extremities']] = df['temperature of extremities'].fillna(4)
df.isnull().sum()

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    35
pain                           0
outcome                        1
dtype: int64

Принятие решения о заполнении недостающих данных необходимо принимать исходя из поставленных задач оналитики.
- Допустим значение столбца 'pain' можно заполнить произвольными данными, если нам надо узнать, допустим эффективность проведения операций.
- значение столбца temperature of extremities можно заполнить исходя из данных rectal temperature, при повышенной температуре лошади - будет значение 1 
- значение puls можно заролнить для лошадей испытывающих шок или болезненные ощущения (значение столбца pain)
- значение respiratory rate имеет сомнительную значимость и может быть заполнени средними значениями
- значение rectal temperature имеет очень важные паказатели для выявления состояния лошади и его заполнение может сильно исказить данные, но для анализа появения болезни у лошадей в зависиммости от возраста не будет имет значения и тогда его можно не учитывать

In [91]:
df.dropna().count() #Удаляем все строки и пропусками и смотрим кол-во оставшихся строк

surgery?                      187
Age                           187
rectal temperature            187
pulse                         187
respiratory rate              187
temperature of extremities    187
pain                          187
outcome                       187
dtype: int64