In [124]:
# Задание 1

In [2]:
import pandas as pd

In [91]:
movies = pd.read_csv('movies.csv')

In [92]:
ratings = pd.read_csv('ratings.csv')

In [93]:
data = movies.merge(ratings, how = 'left') # Объеденяем таблицы с названием фильмов и оценками

In [94]:
data = data[['title', 'rating']] # Оставляем только нужные для работы столбцы

In [97]:
data['Сount'] = data.groupby(['title']).cumcount()+1 # Нумеруем количество оценок

In [123]:
data.sort_values(by = ['rating','Сount'], ascending = [False, False]).head(1) # Сортируем по наивысшему рейтингу и количеству оценок

               rating  Сount
title
Awaken (2013)     5.0    2.0

In [ ]:
# Задание 2

In [177]:
df = pd.read_csv('power.csv')

In [178]:
df = df[ (df['country'] == 'Lithuania') | (df['country'] == 'Latvia') | (df['country'] == 'Estonia') ]
df = df[ (df['category'] == 4) | (df['category'] == 12) | (df['category'] == 21)]
df = df[ df['quantity'] > 0 | (df['year'] >= 2005) & (df['year'] <= 2010) ]

In [180]:
df['quantity'].sum()

970675.0

In [181]:
# Задание 3

In [183]:
pd.read_html('https://fortrader.org/quotes')[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,84.40,-0.66,-0.78,NaN
1,Нефть WTI Цены на нефть WTI,79.08,-0.68,-0.85,NaN
2,Природный газ Цена на природный газ,4.95,-0.26,-5.07,NaN
3,Кофе,167.75,1.25,0.75,NaN
4,Кукуруза,673.40,-0.60,-0.09,NaN
5,Соя,456.50,4.60,1.02,NaN
6,Хлопок,84.04,-0.20,-0.24,NaN